<div class="leftmenu-v2">


    <div class="leftmenu-v2-item">
      <%= link_to root_path do %>
        <i class="fa fa-superpowers" aria-hidden="true"></i>
      <% end %>
    </div>


  <div class="leftmenu-v2-item">
    <i class="fa fa-superpowers" aria-hidden="true"></i>
  </div>

  <div class="leftmenu-v2-item">
    <i class="fa fa-superpowers" aria-hidden="true"></i>
  </div>

  <div class="leftmenu-v2-item">
    <i class="fa fa-superpowers" aria-hidden="true"></i>
  </div>

</div>
