<div class="navbar-v2">

  <div class="navbar-left-item"></div>
  <div class="navbar-right-item">

    <div class="dropdown">
      <div class="avatar-navbar" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><div class="caret"></div>
      </div>

      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
        <li><a href="#" class="droptext-bold">Cédric Manteau</a></li>
        <li class="droptext-thin">Mon profil</li>
        <li role="separator" class="divider"></li>
        <li><a href="#" class="droptext-opacity">Aide et conseils</a></li>
        <li><a href="#" class="droptext-opacity">Déconnexion</a></li>
      </ul>
    </div>

  </div>

</div>
