<div class="navbar-v2">

  <div class="navbar-left-item"></div>



  <div class="navbar-right-item">


      <div class="search-navbar search-modal-button">
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>



    <div class="dropdown">
      <div class="avatar-navbar" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><div class="caret"></div>
      </div>

      <ul class="dropdown-menu dropdown-menu-right" id="dropdownMenu1">

        <div class="drop-header-container">
          <a href="#" class="droptext-bold">Cédric Manteau</a>
          <div class="droptext-thin">Mon profil</div>
        </div>

        <li role="separator" class="divider"></li>
        <li><a href="#" class="droptext-opacity">Aide et conseils</a></li>
        <li><a href="#" class="droptext-opacity">Déconnexion</a></li>
      </ul>
    </div>

  </div>

</div>



<div class="search-modal hidden">
  <div class="text-in-search-modal">Type something</div>
  <div class="close-search-modal">
        <i class="fa fa-close" aria-hidden="true"></i>
  </div>
</div>



