<div class="asso-fullpage">


  <div class="asso-banner">


    <div class="asso-banner-header-name">
      <div class="asso-head-column-container">
        <div class="banner-business-name">
          <div>ENTR-AUTRES</div>
        </div>
        <div class="banner-asso-description">
          POUR L’INSERTION DES JEUNES ET LA VENTE DE PRODUITS SAINS SUR LES QUAIS DE BORDEAUX !
        </div>
      </div>
    </div>


    <div class="asso-card-abs-banner">
        <div class="asso-card-photo"></div>
        <div class="asso-card-bottom-links">
          <div class="asso-card-bottom-left-item">
            <div class="asso-card-red-heart">
              <i class="fa fa-heart" aria-hidden="true"></i>
            </div>
            <div class="asso-firstblock-text">63 personnes aiment Entr-autres</div>
          </div>
          <div class="asso-card-bottom-right-item">
            <div class="asso-cbri-firstblock">
              <div class="asso-firstblock-text">Partager :</div>
            </div>
            <div class="asso-cbri-middleblock">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>
            <div class="asso-cbri-endblock">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </div>
          </div>
        </div>
    </div>



  </div>

  <div class="asso-bottom-container">

    <div class="asso-bottom-header">
      <div>EN QUELQUES MOTS</div>
    </div>

    <div class="asso-description-container">
      L'association Entr-Autres est à l'initiative du projet Réciprocité. C’est l’histoire d’un groupe
      de citoyen qui a décidé de se fédérer autour de sa jeunesse ! Persuadés que la société a les jeunes qu’elle mérite, nous avons décidé d’être fiers de mériter notre jeunesse. Nous souhaiterions proposer aux jeunes une entrée en douceur dans le monde du travail, un
      temps pour penser ce qu’ils pourraient faire et comment ils pourraient le faire. C’est un
      projet à 3 volets : Insertion : Proposer une expérience d’emploi aux jeunes de 16-25 ans en situation d’insertion ou de décrochage scolaire en partenariat avec la Mission Locale de Bordeaux, l’EPID, le CALK, et l’UBAPS. Santé : Vente éthique de produits respectant le PNNS*, favorisant la consommation de fruits, de légumes et d’eau sur l’espace public à un prix abordable. *Programme National Nutrition et Santé (mangez-bougez). Écologie : Vente itinérante à vélo et utilisation de contenant écologique en production limité. Il s’agit d’éviter une surproduction venant interférer avec l’aspect écologique de l’éco-verre.
    </div>

    <div class="asso-button">
      <div class="asso-card-red-heart">
        <i class="fa fa-heart" aria-hidden="true"></i>
      </div>
      <div class="asso-button-text">SOUTENIR CETTE ASSOCIATION</div>
    </div>

  </div>



</div>
