<div class="dashboard-fullpage">


  <div class="dash-fullpage-header">
    <div class="dash-header-avatar-container">
      <div class="header-avatar"></div>
    </div>
  </div>

  <div class="dash-fullpage-bottom-container">

    <div class="dash-fullpage-user-name">
      <div class="user-name">Cédric M.</div>
      <div class="user-name-tooltip">ABONNE DEPUIS LE 1er NOVEMBRE 2015</div>
    </div>

    <div class="tabs-dashboard">


      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#monprofil" aria-controls="monprofil" role="tab" data-toggle="tab">MON PROFIL</a></li>
        <li role="presentation"><a href="#monabonnement" aria-controls="monabonnement" role="tab" data-toggle="tab">MON ABONNEMENT</a></li>
        <li role="presentation"><a href="#monasso" aria-controls="monasso" role="tab" data-toggle="tab">MON ASSOCIATION</a></li>
      </ul>

      <div class="tab-content tabs-container-dash">
        <div role="tabpanel" class="tab-pane active" id="monprofil">Mon profil</div>
        <div role="tabpanel" class="tab-pane" id="monabonnement">Mon abonnement</div>
        <div role="tabpanel" class="tab-pane" id="monasso">Mon association</div>
      </div>


    </div>

  </div>



</div>
