<div class="fullpage">

  <div class="fullpage-left-item">
    <div class="colored-banner">
      <div class="banner-business-name">
        <div>Maison Hegara</div>
      </div>
      <div class="banner-business-top-infos">
        <div class="infos-left">
          <div class="category-icon"></div>
          <div class="category-name">Marché et épicerie</div>
        </div>
        <div class="infos-right">
          <div class="dot-state"></div>
          <div class="dot-state-name">Ouvert</div>
        </div>
      </div>
      <div class="card-abs-banner">
        <div class="card-photo"></div>
        <div class="card-bottom-links">
          <div class="card-bottom-left-item">
            <div class="card-red-heart">
              <i class="fa fa-heart" aria-hidden="true"></i>
            </div>
            <div class="firstblock-text">63 personnes aiment Maison Herera</div>
          </div>
          <div class="card-bottom-right-item">
            <div class="cbri-firstblock">
              <div class="firstblock-text">Partager :</div>
            </div>
            <div class="cbri-middleblock">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>
            <div class="cbri-endblock">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fullpage-left-item-bottom">
      <div class="flib-header">
        <div>LEURS ENGAGEMENTS</div>
      </div>
      <div class="flib-engages">
        <div class="flib-engages-item">
          <div class="flib-icon"></div>
          <div class="flib-text">Eco-responsable</div>
        </div>
        <div class="flib-engages-item">
          <div class="flib-icon"></div>
          <div class="flib-text">Zéro déchets</div>
        </div>
        <div class="flib-engages-item">
          <div class="flib-icon"></div>
          <div class="flib-text">Circuit court</div>
        </div>
      </div>
      <div class="flib-header">
        <div>EN QUELQUES MOTS</div>
      </div>
      <div class="business-desc">
        La Maison Hegara est une épicerie générale implantée aux chartrons. L'idée est de proposer une alimentation saine et de lutter contre le gaspillage, en proposant des produits bios et/ou locaux (légumes secs, pâtes, riz, huiles et vinaigres, thé..etc..)vendus au poids et
        sans emballage. Les fruits et légumes varient selon les saisons et les marchés où je me déplace chaque matin pour vous proposer des produits toujours frais.
      </div>
      <div class="flib-header">
        <div>DETAILS</div>
      </div>
    </div>
  </div>

  <div class="fullpage-right-item">
    <div class="fri-header">
      <div>NOS BONS PLANS</div>
    </div>
    <div class="perk-card-container">
      <div class="perk-card">
        <div class="perk-card-left-item">
          <div class="perk-card-absolute-photo"></div>
        </div>
        <div class="perk-card-right-item">
          <div class="pcri-container">
            <div class="pcri-item">
              <div class="pcri-item-tooltip">
                <div>OFFERT</div>
              </div>
            </div>
            <div class="pcri-second-item">
              <div class="pcri-si-text">DEUX CONTENANTS OFFERTS</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
