<div class="dashboard-fullpage">



  <div class="new-filters-container">

    <div class="filters-icon-plus-text-container">
      <div class="filters-icon"></div>
      <div class="filters-text">ASSOCIATIONS</div>
    </div>

    <div class="filters-icon-plus-text-container">
      <div class="filters-icon"></div>
      <div class="filters-text">ASSOCIATIONS</div>
    </div>

    <div class="filters-icon-plus-text-container">
      <div class="filters-icon"></div>
      <div class="filters-text">ASSOCIATIONS</div>
    </div>

    <div class="filters-icon-plus-text-container">
      <div class="filters-icon"></div>
      <div class="filters-text">ASSOCIATIONS</div>
    </div>

    <div class="filters-icon-plus-text-container">
      <div class="filters-icon"></div>
      <div class="filters-text">ASSOCIATIONS</div>
    </div>

    <div class="filters-icon-plus-text-container">
      <div class="filters-icon"></div>
      <div class="filters-text">ASSOCIATIONS</div>
    </div>

    <div class="filters-icon-plus-text-container">
      <div class="filters-icon"></div>
      <div class="filters-text">ASSOCIATIONS</div>
    </div>

    <div class="filters-icon-plus-text-container">
      <div class="filters-icon"></div>
      <div class="filters-text">ASSOCIATIONS</div>
    </div>

    <div class="filters-icon-plus-text-container">
      <div class="filters-icon"></div>
      <div class="filters-text">ASSOCIATIONS</div>
    </div>

    <div class="filters-icon-plus-text-container">
      <div class="filters-icon"></div>
      <div class="filters-text">ASSOCIATIONS</div>
    </div>

    <div class="filters-icon-plus-text-container">
      <div class="filters-icon"></div>
      <div class="filters-text">ASSOCIATIONS</div>
    </div>

  </div>



</div>
