.leftmenu-v2 {
  position: fixed;
  top: 50px;
  left: 0;
  width: 90px;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 30;
}


.leftmenu-v2-item {
  width: 100%;
  height: 90px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
  flex-direction: column;
}

// .triangle {
//   position: absolute;
//   right: -10px;
//   top: 40px;
//   width: 0;
//   height: 0;
//   border-top: 5px solid transparent;
//   border-left: 10px solid red;
//   border-bottom: 5px solid transparent;
//   z-index: -1;
// }


// .leftmenu-v2-item:hover:after {
//     position: absolute;
//     content:"";
//     top: 36px;
//     right: -10px;
//     width:0;
//     height:0;
//     border-top:10px solid transparent;
//     border-bottom:10px solid transparent;
//     border-left:10px solid rgba(55,55,55,1);
//     z-index: 1;
//     transition: 0.4s ease;
// }


.leftmenu-v2-item:hover {
  color: white;
  transition: 0.4s ease;
}

.leftmenu-v2-item:hover a {
  color: white;
  transition: 0.4s ease;
  background-color: lightgrey;
}



// .leftmenu-v2-item:active:after {
//     position: absolute;
//     content:"";
//     top: 36px;
//     right: -10px;
//     width:0;
//     height:0;
//     border-top:10px solid transparent;
//     border-bottom:10px solid transparent;
//     border-left:10px solid rgba(55,55,55,1);
//     z-index: 1;
//     transition: 0.4s ease;
// }


.leftmenu-v2-item:active {
  color: white;
  transition: 0.4s ease;
}



.leftmenu-v2-item a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(55,55,55,0.6);
  flex-direction: column;
}




.leftmenu-v2-item.active a {
  background-color: rgba(55,55,55,1);
}

.leftmenu-v2-item.active a {
  color: white;
}


.leftmenu-v2-item.active a:after {
    position: absolute;
    content:"";
    top: 36px;
    right: -10px;
    width:0;
    height:0;
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
    border-left:10px solid rgba(55,55,55,1);
    z-index: 1;
    transition: 0.4s ease;
}


.left-menu-svg-container {
  height: 40px;
  width: 40px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}


.left-menu-text {
  font-size: 10px;
  margin-top: 5px;
}
