.navbar-v2 {
  height: 50px;
  width: 100%;
  background-color: white;
  padding-left: 20px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgba(155,155,155,0.1);
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}


.navbar-left-item {
  height: 100%;
  width: 50px;
  background-image: image-url("background-pouce.png");
  background-size: cover;
  background-position: center center;
}


.navbar-right-item {
  height: 100%;
  width: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.avatar-navbar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-image: image-url("background-pouce.png");
  background-size: cover;
  background-position: center center;
  &:hover {
    cursor: pointer;
  }
}


.caret {
  position: absolute;
  top: 28px;
  right: -5px;
  &:hover {
    cursor: pointer;
  }
}


.dropdown-menu {
  box-shadow: none;
  top: 90%;
  border-top: none !important;
  transition: 0.4s ease;
  border-left: 2px solid rgba(155,155,155,0.1);
  border-right: 2px solid rgba(155,155,155,0.1);
  border-bottom: 2px solid rgba(155,155,155,0.1);
  min-width: 240px !important;
}

.droptext-bold {
  font-size: 16px;
  color: rgba(55,55,55,0.8) !important;
}

.droptext-thin {
  font-size: 11px;
  color: rgba(55,55,55,0.5) !important;
  opacity: 0;
  margin-right: 20px;
}




.droptext-opacity {
  font-size: 13px;
  transition: 0.4s ease;
  color: rgba(55,55,55,0.3) !important;
  &:hover {
    color: rgba(55,55,55,0.7) !important;
  }
}

.divider {
  height: 2px !important;
  background-color: rgba(155,155,155,0.1) !important;
}




.search-navbar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  transition: 0.4s ease;
  color: grey;
  &:hover {
    cursor: pointer;
    background-color: lightgrey;
    color: grey;
  }
}







.search-modal {
  position: fixed;
  width: 100%;
  height: 91px;
  border-bottom: 4px solid #0DE2EA;
  background-color: white;
  top: 50px;
  left: 0px;
  padding-left: 110px;
  z-index: 29;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 25px;
}

.text-in-search-modal {
  font-size: 22px;
  font-weight: 400;
  color: rgba(55,55,55,0.7);
}

.close-search-modal {
  font-size: 16px;
  opacity: 0.6;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
}


.dropdown-menu > li > a:hover {
  background-color: white;
}


.drop-header-container {
  width: 100%;
  height: 30px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.drop-header-container:hover .droptext-thin {
  opacity: 1;
}


.drop-header-container a {
  text-decoration: none;
}
